vs/

# Ignore compiled files
*.dll
*.exe
*.so
*.dylib
*.dll

# Ignore build directories
bin/
obj/

# Ignore user-specific files
*.user
*.userosscache
*.sln.docstates
*.suo

# Ignore Visual Studio Code files
vscode/

# Ignore Rider files
idea/
*.sln.iml

# Ignore packaging
*.jar
*.war

# Ignore logs
*.log

# Ignore temporary files
*.tmp
*.temp

/bin/x64/Debug/TestLib.pdb
/obj/x64/Debug/TestLib.pdb
/obj/x64/Debug/TestLib.csproj.AssemblyReference.cache
/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/x64/Debug/TestLib.csproj.GenerateResource.cache
/obj/x64/Debug/TestLib.csproj.FileListAbsolute.txt
/obj/x64/Debug/TestLib.csproj.AssemblyReference.cache
/obj/project.nuget.cache
/obj/TestLib.csproj.nuget.dgspec.json
