################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Lib/FileContentIndex/eabff050-6525-4160-84c8-3bc8523ec3c7.vsidx
/.vs/Lib/FileContentIndex
